.requestRefund {
  width: 100%;
  height: fit-content;
}

.requestRefund article {
  width: 70%;
  margin: 4rem auto;
  display: flex;
  align-items: baseline;
  gap: 1.2rem;
  flex-direction: column;
}

.requestRefund article h1 {
  font-size: 2.5rem;
}

.requestRefund article hr {
  width: 100%;
  height: 2px;
  background-color: lightgray;
}

.requestRefund article aside {
  padding-left: 2rem;
  color: blue;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 1rem;
}

.requestRefund article p,
.requestRefund article ul li,
.requestRefund article ol li {
  font-weight: 600;
  color: gray;
}

.requestRefund ul,
.requestRefund ol {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
}

.requestRefund article strong {
  color: black;
}

.requestRefund article blockquote {
  display: flex;
  gap: 0.5rem;
}

.requestRefund article a {
  font-weight: 600;
  color: blue;
  text-decoration: none;
}

.requestRefund article h2 {
  margin-top: 2rem;
}
