.forgotPassword {
  width: 450px;
  min-height: 500px;
  background-color: white;
  margin: 5rem auto;
  border-radius: 1rem;
  padding: 2rem;
  border: 2px solid gray;
}

.forgotPassword figure {
  width: 100%;
  text-align: center;
}

.forgotPassword aside {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
  flex-direction: column;
}

.forgotPassword form {
  display: flex;
  align-items: baseline;
  gap: 1.5rem;
  flex-direction: column;
  margin-top: 1.5rem;
}

.forgotPassword form input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.forgotPassword form button {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  background-color: purple;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.forgotPassword blockquote {
  margin-top: 2rem;
}
