.signup {
  width: 100%;
  height: fit-content;
}

.insideSignup {
  width: 450px;
  min-height: 500px;
  margin: 5rem auto;
  border-radius: 1rem;
  padding: 2.5rem 2rem;
  display: flex;
  align-items: baseline;
  justify-content: left;
  flex-direction: column;
  gap: 1.5rem;
  background: rgba(255, 255, 255, 0.3); /* white with transparency */
  border-radius: 10px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
}

.insideSignup form {
  width: 100%;
}

.insideSignup figure {
  width: 100%;
  text-align: center;
}

#moresignupdetailsaside {
  display: flex;
  gap: 0.5rem;
  align-items: start;
  justify-content: left;
  margin: 1.5rem 0;
}

#moresignupdetailsaside input {
  width: 1.2rem;
  height: 1.2rem;
}

.insideSignup h1 {
  color: red;
}

.insideSignup form aside {
  display: flex;
  align-items: start;
  justify-content: left;
  gap: 0.5rem;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
}

.insideSignup form aside label {
  font-weight: 600;
  font-size: 1.2rem;
  color: black;
}

#createAnAccountToSignUpinSite {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  margin-top: 1.5rem;
}

#moresignupinputs {
  border: 2px solid lightgray;
  padding: 0.5rem 1.2rem;
  font-size: 1.2rem;
  width: 100%;
  border-radius: 0.5rem;
}

#profilepicuploadinsideSignup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#profilepicuploadinsideSignup div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

#profilepicuploadinsideSignup div figure {
  width: fit-content;
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#profilepicuploadinsideSignup figure i {
  font-size: 2rem;
}

#profilepicuploadinsideSignup figure input {
  width: 12rem;
}

#profilepicuploadinsideSignup img {
  width: 80px;
  height: 80px;
  border-radius: 0.5rem;
}

#profilepicuploadinsideSignup aside i {
  font-size: 2rem;
  margin-top: 0.5rem;
}

#moresignupinputs::placeholder {
  font-size: 1.2rem;
  color: gray;
}

#continuetonext {
  margin-top: 2rem;
}
.insideSignup button {
  width: 100%;
  padding: 0.7rem;
  border-radius: 0.5rem;
  background-color: purple;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

#ifaccountexists {
  font-size: 15px;
  display: inline;
}

#logininstead {
  text-decoration: none;
  color: purple;
  font-weight: 600;
  margin-left: 0.5rem;
  font-size: 15px;
}

.insideSignup blockquote p strong {
  color: purple;
}
